#IfWinActive, RuneScape


F4::


Send {1 down}{2 down}{3 down}{4 down}{5 down}{6 down}
Sleep 100
Send {1 up}{2 up}{3 up}{4 up}{5 up}{6 up}


return


F5::

Send {q down}{w down}{e down}{r down}{t down}{y down}
Sleep 100
Send {q up}{w up}{e up}{r up}{t up}{y up}


return


f6::
Send {a down}{s down}{d down}{f down}{g down}{h down}	
Sleep 100
Send {a up}{s up}{d up}{f up}{g up}{h up}

return
